# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

.gitignore

# IDEs
.idea

# dependencies
/messanger-server/node_modules
/messanger-ui/node_modules

# production
/build

# LOGs
npm-debug.log*
yarn-debug.log*
yarn-error.log*


